@model ICollection<MyBasketListingModel>

@{
    ViewData["Title"] = "My basket";
}

@{
    var totalSum = 0m;
}

@if (!Model.Any()) { 
    <h1>Your basket is empty</h1>
}

else 
{
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">.</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">.</th>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.Price</td>
                    <td>@item.Size</td>
                   
                </tr>
            }


        </tbody>
    </table>
    <h1>@totalSum лв.</h1>
    <a width="300" height="300" asp-controller="ShoppingCart" asp-action="Checkout" asp-area="" style="color:green"><i class="fas fa-shopping-cart"></i> <big>Checkout</big></a>

</div>
}







